# Maven build output
/target/

# Serenity log files and reports
/serenity.log
/*.log

# IDE specific files
/.idea/
/*.iml
/.classpath
/.project
/.settings/
/bin/

# OS specific files
.DS_Store
Thumbs.db
